@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.corpo {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.relative {
    position: relative;
}

.sign-in-container {
    box-sizing: border-box;
    width: 750px;
    height: 480px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
}

.side-information-sign-in {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.side-information-sign-in img {
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.side-information-sign-in h1 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.side-information-sign-in h2 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.credentials-sign-in {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.credentials-sign-in h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.credentials-sign-in h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sing-in-redirection {
    width: 60%;
    justify-content: space-evenly;
}

.sing-in-redirection span {
    color: #439dbb;
}

.credentials-sign-in .sign-in-input-email {
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    width: 60%;
    height: 40px;
    border: 1px solid #439dbb;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.credentials-sign-in .sign-in-input-password {
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    width: 60%;
    height: 40px;
    border: 1px solid #439dbb;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.btn-solid-blue {
    box-sizing: content-box;
    padding: 10px 50px 10px 50px;
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    font-weight: 500;
    background-color: #439dbb;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(80, 80, 80, 0.4);
}

.btn-outlined-blue {
    box-sizing: content-box;
    padding: 10px 20px 10px 20px;
    font-family: "Quicksand", sans-serif;
    color: #439dbb;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #439dbb;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(80, 80, 80, 0.4);
}

/*************************
******SIGN UP FORMS*******
**************************/

.sign-up-form-container {
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
    width: 400px;
    padding: 50px;
    padding-top: 60px;
    padding-bottom: 70px;
}

.sign-up-form-container h1 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-up-form-container h2 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sign-up-form-container .input-text-field {
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    width: 85%;
    height: 40px;
    border: 1px solid #439dbb;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.sign-up-form-container .input-text-field span {
    color: aqua;
}

/****************************
***********SELECT BOX********
*****************************/

/* Customize the label (the container) */

.container-check {
    display: block;
    width: 90%;
    position: relative;
    padding-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    text-align: justify;
}

/* Hide the browser's default checkbox */

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-check span.link {
    color: #439dbb;
    font-weight: 500;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container-check:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container-check input:checked~.checkmark {
    background-color: #439dbb;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container-check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container-check .checkmark:after {
    left: 6px;
    top: 4px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***********************
******HEADER************
************************/

header {
    height: 50px;
    background-color: white;
    border-bottom: 0.8px solid #cecece !important;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

header .logo-text {
    font-weight: 700;
    cursor: pointer;
}

.logo-container .logo-text {
    font-family: 'Quicksand', sans-serif !important;
}

.logo-container {
    width: 15vw;
    align-items: center;
}

.logo-container p {
    font-size: 15px;
}

.logo-container #logo-img {
    height: 28px;
    padding-right: 10px;
    cursor: pointer;
}

.search-container {
    position: relative;
    width: 55vw;
    align-items: center;
}

.search-container .input-search {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid #9fb5bd;
}

.search-container .input-search::placeholder {
    opacity: 0.5;
    font-size: 12px;
}

.search-container img.input-img {
    position: absolute;
    height: 16px;
    left: 7px;
    cursor: pointer;
}

.search-container .search-block{
    position: absolute;
    border-radius: 5px 0 0 5px;
    width: 30px;
    height: 28px;
    background-color: #439dbb;
}

.profile-container {
    box-sizing: border-box;
    width: 30vw;
    padding-left: 20px;
    font-family: "Quicksand", sans-serif;
    align-items: center;
    justify-content: flex-end;
}

.profile-container .user-info-container{
    text-align: right;
    justify-content: center;
}

.profile-container .user-info-container .user-name{
    color: #439dbb;
    font-size: 14px;
    font-weight: 600;
}

.profile-container .user-info-container .user-profession{
    font-size: 12px;
}

.profile-container .profile-txt {
    font-size: 14px;
}

.profile-container .sign-out-txt {
    font-size: 12px;
    color: #439dbb;
}

/*******************************
***********DROPDOWN*************
********************************/

.dropdown-menu-sandwich {
    width: 4vw;
    align-items: center;
    justify-content: center;
}

#sandwich-menu {
    height: 40px;
}

.dropdown-menu-sandwich img {
    height: 40px;
}

/***************************
******WHITE DROP DOWN*******
****************************/

.dropdown-menu-sandwich {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

.dropdown-menu-sandwich ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.dropdown-menu-sandwich ul li {
    display: block;
    position: relative;
    float: left;
    background: #ffffff;
}

.dropdown-menu-sandwich li ul {
    display: none;
}

.dropdown-menu-sandwich ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #439dbb;
}

.dropdown-menu-sandwich ul li a:hover {
    background: #ffffff;
}

.dropdown-menu-sandwich li:hover>ul {
    display: block;
    position: absolute;
}

.dropdown-menu-sandwich li:hover li {
    float: none;
}

.dropdown-menu-sandwich li:hover a {
    background: #ffffff;
}

.dropdown-menu-sandwich li:hover li a:hover {
    background: #eeeeee;
}

.main-navigation {
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: space-between;
}

.main-navigation img{
    height: 12px;
    padding: 10px;
}

.dropdown-menu-sandwich .main-navigation li ul li {
    border-top: 0;
}

.dropdown-menu-sandwich ul ul ul {
    left: 100%;
    top: 0;
}

.dropdown-menu-sandwich ul:before, .dropdown-menu-sandwich ul:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.dropdown-menu-sandwich ul:after {
    clear: both;
}

/***************************
  ********SECOND NAVBAR*******
  ***************************/

@media screen and (min-width: 941px) {
    header .left-space {
        width: 5vw;
    }
    header .right-space {
        width: 8vw;
    }
    .dropdown-menu-sandwich {
        display: block;
    }
    /**********************************
    *************DROP MENU*************
    ***********************************/
    .second-navbar {
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
    }
    .second-navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #439dbb;
    }
    .second-navbar ul li {
        display: block;
        position: relative;
        float: left;
        background: #439dbb;
    }
    .second-navbar li ul {
        display: none;
    }
    .second-navbar ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
    }
    .second-navbar ul li a:hover {
        background: #439dbb;
    }
    .second-navbar li:hover>ul {
        display: block;
        position: absolute;
    }
    .second-navbar li:hover li {
        float: none;
    }
    .second-navbar li:hover a {
        background: #439dbb;
    }
    .second-navbar li:hover li a:hover {
        background: #217896;
    }
    .main-navigation {
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    .second-navbar .main-navigation li ul li {
        border-top: 0;
    }
    .second-navbar ul ul ul {
        left: 100%;
        top: 0;
    }
    .second-navbar ul:before, .second-navbar ul:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .second-navbar ul:after {
        clear: both;
    }
}

@media screen and (max-width:800px) {
    .menu-container {
        display: none;
    }
    .menu-container-empty {
        width: 35vw;
    }
    .profile-container {
        width: 20vw;
    }
}

.second-navbar {
    margin-top: 50px;
    height: 50px;
    background-color: white;
    border-bottom: 0.8px solid #cecece !important;
    width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

/****************************
********CONTENT TABLE********
****************************/
.content-table-page{
    flex: 1 0 auto;
    align-items: center;
    justify-content: center; 
}

.content-table-container{
    box-sizing: border-box;
    height: auto;
    width: 60vw;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    align-items: center;
    padding-top: 40px;
}

.content-table-container h1.title{
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #504f4f;
}

.content-table-box {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.content-table-item .content-table-box{
    align-items: center;
    justify-content: center;
}

.content-table-box .content-table-item {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    width: 250px;
    background-color: #439dbb;
    height: 40px;
    margin: 16px 10px;
    /*font style*/
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}

.content-table-box .content-table-item:hover {
    background-color: #217896;
    width: 260px;
    font-weight: 700;
    transition: 0.4s;
}

/******************************
***********FOOTER**************
*******************************/

.footer-container {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100vw;
    padding-right: 20%;
    padding-left: 20%;
    height: 40px;
    background-color: #424242;
    align-items: center;
}

.footer-container h1 {
    font-size: 13px;
    color: #b4b4b4;
    font-family: 'Quicksand', sans-serif;
}

.ext-page-container {
    justify-content: space-between;
}

/*************************
***** SEARCH RESULTS *****
**************************/

.results-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px;
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
}

.results-container .results-template {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(80, 80, 80, 0.4);
}

.results-container .results-template .results-title {
    height: 36px;
    background-color: #439dbb;
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.results-container .results-template h1 {
    padding-left: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.results-container .results-template h2 {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.results-container .results-template p {
    color: #504f4f;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

.results-container .results-template p.tag{
    padding-left: 10px;
    font-weight: 600;
    color: #439dbb;
}

.results-container .results-template .results-body {
    padding: 20px;
}

.results-container .results-template .results-body .template-content {
    /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  width: 97%;
  line-height: 20px;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 80px; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

.results-container .results-template .results-body .template-content:before{
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;  
}

.results-container .results-template .results-body .template-content:after{
    /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.results-page .tags-container{
    box-sizing: border-box;
    margin-top: 100px;
    margin-right: auto;
    height: 326px;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
}

.results-page .tags-container p{
    color: #504f4f;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.results-page .tags-container .input-text-field{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 30px;
    border: 1px solid #439dbb;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.home-page{
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.home-container{
    box-sizing: border-box;
    width: 800px;
    height: auto;
    padding: 100px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-container h1{
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #3a3a3a;
    margin-bottom: 35px;
}

.home-container h2{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    color: #747474;
    margin-bottom: 35px;
}

.home-container p{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #747474;
    margin-bottom: 15px;
}

.home-container p.table-link{
    color: #439dbb;
    font-weight: 600;
}

.home-container .search-box{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.home-container .search-box input{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    width: 80%;
    height: 36px;
    border: 1px solid #439dbb;
    padding: 0 10px 0 50px;
    border-radius:36px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.home-container .search-box .search-block{
    position: absolute;
    background-color: #439dbb;
    height: 36px;
    width: 36px;
    border-radius: 36px 0 0 36px;
    top: 5px;
    left: 72px;
}

.home-container .search-box img{
    position: absolute;
    top: 14px;
    left: 82px;
    height: 18px;
}

/**************************************
**********TEMPLATE PAGE ***************
**************************************/

.template-container{
    box-sizing: border-box;
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
}

.template-container .template-header{
    background-color: #439dbb;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    padding-right: 30px;
}

.template-container .template-header h1{
    padding-left: 30px;
    color: #fff;
    font-weight: 600;
    font-size:26px;
    font-family: 'Quicksand', sans-serif;
}

.template-container .template-header .btn{
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.4);
    background-color: #ffffff;
    color: #439dbb;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    align-items: center;
}

.template-container .template-header .btn img{
    height: 16px;
    padding-right: 5px;
}

#template-edit-btn{
    margin-left: 20px;
    margin-right: 20px;
}


.template-container .template-body{
    padding:20px 0;
    text-align: justify;
}

.template-container .template-body h2{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    padding: 6px 0 6px 20px;
    width: 120px;
    border-radius: 0 10px 10px 0;
    background-color: #439dbb;
    color: #ffffff;
}

.template-container .template-body p{
    padding: 20px 30px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

/*****************************************
***********MY FAVORITES ******************
*****************************************/
.favorites-page{
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.favorites-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 40px;
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    align-items: center;
}

.favorites-container h1.page-title{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #504f4f;
    margin-bottom: 40px;
}

.favorites-container .favorites-template {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(80, 80, 80, 0.4);
}

.favorites-container .favorites-template .favorites-title {
    position: relative;
    height: 36px;
    background-color: #439dbb;
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.favorites-container .favorites-template .favorites-title h2{
    font-size: 12px;
    color: #ffffff;
}

.favorites-container .favorites-template .favorites-title .remove-box{
    position: absolute;
    right: 5%;
    align-items: center;
}

.favorites-container .favorites-template .favorites-title .remove-box img{
    height: 12px;
    margin-right: 5px;
}


.favorites-container .favorites-template h1 {
    padding-left: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.favorites-container .favorites-template h2 {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.favorites-container .favorites-template p {
    color: #504f4f;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}

.favorites-container .favorites-template p.tag{
    padding-left: 10px;
    font-weight: 600;
    color: #439dbb;
}

.favorites-container .favorites-template .favorites-body {
    padding: 20px;
}

.favorites-container .favorites-template .favorites-body .template-content {
    /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  width: 97%;
  line-height: 20px;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 80px; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}

.favorites-container .favorites-template .favorites-body .template-content:before{
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;  
}

.favorites-container .favorites-template .favorites-body .template-content:after{
    /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.favorites-page .tags-container{
    box-sizing: border-box;
    margin-top: 100px;
    margin-right: auto;
    height: 326px;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
}

.favorites-page .tags-container p{
    color: #504f4f;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.favorites-page .tags-container .input-text-field{
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 30px;
    border: 1px solid #439dbb;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*******************************
*********My Templates***********
*******************************/

.favorites-container .favorites-template .favorites-title .edit-box{
    position: absolute;
    right: 30px;
    align-items: center;
}

.favorites-container .favorites-template .favorites-title .edit-box img{
    height: 12px;
    margin-right: 5px;
}

.favorites-container .favorites-template .favorites-title .exclude-box{
    position: absolute;
    right: 80px;
    align-items: center;
}

.favorites-container .favorites-template .favorites-title .exclude-box img{
    height: 12px;
    margin-right: 5px;
}