@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.corpo {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.relative {
    position: relative;
}

.sign-in-container {
    box-sizing: border-box;
    width: 750px;
    height: 480px;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
}

.side-information-sign-in {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.side-information-sign-in img {
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.side-information-sign-in h1 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.side-information-sign-in h2 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.credentials-sign-in {
    align-items: center;
    justify-content: center;
    width: 50%;
}

.credentials-sign-in h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.credentials-sign-in h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sing-in-redirection {
    width: 60%;
    justify-content: space-evenly;
}

.sing-in-redirection span {
    color: #439dbb;
}

.credentials-sign-in .sign-in-input-email {
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    width: 60%;
    height: 40px;
    border: 1px solid #439dbb;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.credentials-sign-in .sign-in-input-password {
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    width: 60%;
    height: 40px;
    border: 1px solid #439dbb;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.btn-solid-blue {
    box-sizing: content-box;
    padding: 10px 50px 10px 50px;
    font-family: "Quicksand", sans-serif;
    color: #ffffff;
    font-weight: 500;
    background-color: #439dbb;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(80, 80, 80, 0.4);
}

.btn-outlined-blue {
    box-sizing: content-box;
    padding: 10px 20px 10px 20px;
    font-family: "Quicksand", sans-serif;
    color: #439dbb;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #439dbb;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(80, 80, 80, 0.4);
}

/*************************
******SIGN UP FORMS*******
**************************/

.sign-up-form-container {
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
    width: 400px;
    padding: 50px;
    padding-top: 60px;
    padding-bottom: 70px;
}

.sign-up-form-container h1 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-up-form-container h2 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.sign-up-form-container .input-text-field {
    box-sizing: content-box;
    font-family: "Quicksand", sans-serif;
    width: 85%;
    height: 40px;
    border: 1px solid #439dbb;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.sign-up-form-container .input-text-field span {
    color: aqua;
}

/****************************
***********SELECT BOX********
*****************************/

/* Customize the label (the container) */

.container-check {
    display: block;
    width: 90%;
    position: relative;
    padding-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    text-align: justify;
}

/* Hide the browser's default checkbox */

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-check span.link {
    color: #439dbb;
    font-weight: 500;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container-check:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container-check input:checked~.checkmark {
    background-color: #439dbb;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container-check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container-check .checkmark:after {
    left: 6px;
    top: 4px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***********************
******HEADER************
************************/

header {
    height: 50px;
    background-color: white;
    border-bottom: 0.8px solid #cecece !important;
    width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

header .logo-text {
    font-weight: 700;
    cursor: pointer;
}

.logo-container .logo-text {
    font-family: 'Quicksand', sans-serif !important;
}

.logo-container {
    width: 15vw;
    align-items: center;
}

.logo-container p {
    font-size: 15px;
}

.logo-container #logo-img {
    height: 28px;
    padding-right: 10px;
    cursor: pointer;
}

nav.menu-container {
    width: 45vw;
    justify-content: center;
}

nav.menu-container li.menu-item {
    width: 80px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(41, 40, 40);
    cursor: pointer;
    transition: border 0.4s;
}

nav.menu-container li.menu-item:hover {
    border-bottom: 1.5px solid #439dbb;
}

nav.menu-container li:nth-child(2) {
    margin: 0 35px;
}

nav.menu-container li:nth-child(3) {
    margin: 0 35px 0 0;
}

nav.menu-container ul {
    padding-top: 14px;
}

.search-container {
    width: 10vw;
    align-items: center;
}

.search-container .input-search {
    width: 90%;
    height: 25px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 5px;
    border: 1px solid #439dbb;
}

.search-container .input-search::placeholder {
    opacity: 0.5;
    font-size: 12px;
}

.search-container img.input-img {
    height: 12px;
    margin-left: -25px;
    cursor: pointer;
}

.profile-container {
    width: 10vw;
    font-family: "Quicksand", sans-serif;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-end;
}

.profile-container .profile-img {
    height: 38px;
    width: 38px;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    text-align: right;
}

.profile-container .profile-txt {
    font-size: 14px;
}

.profile-container .sign-out-txt {
    font-size: 12px;
    color: #439dbb;
}

/***************************
  ********SECOND NAVBAR*******
  ***************************/

@media screen and (max-width: 940px) {
    header .left-space {
        width: 5vw;
    }
    header .right-space {
        width: 5vw;
    }
    .second-navbar {
        display: none;
    }
    .search-container {
        display: none;
    }
    .menu-container {
        width: 55vw !important;
    }
    .dropdown-menu-sandwich {
        width: 10vw;
        align-items: center;
        justify-content: center;
    }
    #sandwich-menu {
        height: 40px;
    }
    .dropdown-menu-sandwich img {
        height: 40px;
    }
    /***************************
******WHITE DROP DOWN*******
****************************/
    .dropdown-menu-sandwich {
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
    }
    .dropdown-menu-sandwich ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }
    .dropdown-menu-sandwich ul li {
        display: block;
        position: relative;
        float: left;
        background: #ffffff;
    }
    .dropdown-menu-sandwich li ul {
        display: none;
    }
    .dropdown-menu-sandwich ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #439dbb;
    }
    .dropdown-menu-sandwich ul li a:hover {
        background: #ffffff;
    }
    .dropdown-menu-sandwich li:hover>ul {
        display: block;
        position: absolute;
    }
    .dropdown-menu-sandwich li:hover li {
        float: none;
    }
    .dropdown-menu-sandwich li:hover a {
        background: #ffffff;
    }
    .dropdown-menu-sandwich li:hover li a:hover {
        background: #eeeeee;
    }
    .main-navigation {
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    .dropdown-menu-sandwich .main-navigation li ul li {
        border-top: 0;
    }
    .dropdown-menu-sandwich ul ul ul {
        left: 100%;
        top: 0;
    }
    .dropdown-menu-sandwich ul:before, .dropdown-menu-sandwich ul:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .dropdown-menu-sandwich ul:after {
        clear: both;
    }
}

@media screen and (min-width: 941px) {
    header .left-space {
        width: 10vw;
    }
    header .right-space {
        width: 10vw;
    }
    .dropdown-menu-sandwich {
        display: none;
    }
    /**********************************
    *************DROP MENU*************
    ***********************************/
    .second-navbar {
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
    }
    .second-navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #439dbb;
    }
    .second-navbar ul li {
        display: block;
        position: relative;
        float: left;
        background: #439dbb;
    }
    .second-navbar li ul {
        display: none;
    }
    .second-navbar ul li a {
        display: block;
        padding: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
    }
    .second-navbar ul li a:hover {
        background: #439dbb;
    }
    .second-navbar li:hover>ul {
        display: block;
        position: absolute;
    }
    .second-navbar li:hover li {
        float: none;
    }
    .second-navbar li:hover a {
        background: #439dbb;
    }
    .second-navbar li:hover li a:hover {
        background: #217896;
    }
    .main-navigation {
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    .second-navbar .main-navigation li ul li {
        border-top: 0;
    }
    .second-navbar ul ul ul {
        left: 100%;
        top: 0;
    }
    .second-navbar ul:before, .second-navbar ul:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    .second-navbar ul:after {
        clear: both;
    }
}

@media screen and (max-width:800px){
    .menu-container{
        display: none;
    }
    .menu-container-empty{
        width: 35vw ;
    }
    .profile-container{
        width: 20vw;
    }
}

.second-navbar {
    margin-top: 50px;
    height: 50px;
    background-color: white;
    border-bottom: 0.8px solid #cecece !important;
    width: 100vw;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

/****************************
********CONTENT TABLE********
****************************/

.content-table-container{
    margin-top: 100px;
    box-sizing: border-box;
    height: auto;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    box-shadow: 1px 1px 5px rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    padding-top: 50px ;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.content-table-container .content-table-item{
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    width: 250px;
    background-color: #439dbb;
    height: 40px;
    margin: 20px 10px;
    /*font style*/
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}

.content-table-container .content-table-item:hover{
    background-color: #217896;
    width: 270px;
    font-weight: 700;
    transition: 0.4s;
}


